body {
  font-family: fantasy, sans-serif;
}

.pkList{list-style-type:  none;}

button {
    font-size: 22px;
    border: none;
    font-family: inherit;
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;    
    border-radius: 15px;
    border: 5px solid white;
    font-style: italic;
    text
}

button:hover, 
button:focus {
    cursor: pointer;
    background-color: yellow;
    color: black;
    font-size: 28px;
}
